/* Common Config */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2E4053;
    text-align: center;
    line-height: 1.7;
    color: #F0F3F4;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    width: 100%;
}

main #division-2-list ul {
    list-style: none;
}

p {
    padding: 3rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

/* *******Header******* */
header {
    height: 44rem;
    position: relative;
    margin-bottom: 4rem;
}

header .image-header {
    height: 80rem;
    width: 100%;
    background-image: url(../image/photo-1542831371-29b0f74f9713.jpg);
    opacity: .4;
    z-index: -1;
    position: absolute;
    background-size: cover;
    background-position: center;
}

header h1 {
    padding: 24rem 12rem 2rem 12rem;
    text-transform: uppercase;
}

.btn-header {
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    transition: all 0.4s;
    margin: .6rem 0;
    padding: 1.7rem 3.4rem;
    border: 1px solid rgb(255, 212, 59);
    white-space: nowrap;
    box-shadow: 1px 1px 3px 1px black;
}

.btn-header:hover {
    background-color: rgb(255, 212, 59);
    color: black;
    box-shadow: 1px 2px 3px 2px black;
}

/* section-1 ****************************/
#division-1-main {
    background-color: black;
    color: white;
    padding: 4.4rem 0;
}

/* section-2 list ****************************/
#division-2-list {
    padding: 2.3rem;
}

.area-div {
    padding: 1.4rem;
}

#division-2-list {
    background-color: #fff;
    color: #234;
}

.area img {
    border-radius: 1rem;
    opacity: .9;
}

.area .area-div h3 {
    text-transform: uppercase;
    font-weight: bold;

}

/* section-3 ****************************/
#division-3-career {
    width: 100%;
    height: 50rem;
    margin: 4rem 0;
}

#left-main {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background-color: tomato;
}

#right-main {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background-color: yellow;
}

#right-main ul {
    list-style-type: none;
}

/* Nav ****************************/

.container {
    width: 120rem;
    margin: 0 0;
    padding-left: .6rem;
    padding-right: .6rem;

}

nav {
    position: fixed;
    background-color: #007bff;
    color: #FFF;
    padding: 3rem;
    width: 100%;
    z-index: 999;
    height: 10%;
}

.emir-gurbuz {
    color: #fff;
    font-size: 3.4rem;

}

#menu {
    float: right;
}

#menu a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    transition: all 3s;
}

#menu a:hover {
    color: #007bff;
    background-color: #fff;

}

#menu i {
    margin-right: 0.5rem;
    transition: all 3s;
}

#menu i:hover {
    color: #007bff;
    background-color: #fff;
}

#menu li {
    display: inline-block;
    margin: 0 12rem 12rem 0;

}

#logo {
    position: relative;
    float: left;
    margin-top: -2rem;
}

#logo-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: all 0.5s;
}

#logo-image:hover {
    opacity: .8;
    box-shadow: 1px 1px 1px 1px red;
}

/* Top */
#bottom {
    position: fixed;
    opacity: .9;
    right: 0;
    bottom: 0;
    background-color: #34495E;
    padding: 0.3rem;
    border-radius: 0.2rem;
    margin: 0.2rem;
    transition: all 1s;
}

#bottom:hover {
    background-color: #566573;
    opacity: 1;
}

#bottom a {
    text-decoration: none;
    color: #fff;
}

/* contact ****************************/
#form-email {
    width: 100%;
    height: 25rem;
}

.form-group-all {
    width: 100%;
    height: auto;
}

.form-control {
    width: 50%;
    padding: 2rem;
    border: 1px solid aqua;
    box-sizing: border-box;
    border-radius: .5rem;
}

.form-group {}

/* Footer ****************************/

footer {
    padding: 6rem 6rem 12rem 6rem;
}

footer a {
    color: #ff4500;
}