/* 
Project name: One Pages Blog Page
Project author: Emir Gürbüz
Project year:2022
Project version:1.0V
*/
/* Config File */

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Nav */

nav{
    opacity: .9;
}