/* 
Project name: One Pages Blog Page
Project author: Emir Gürbüz
Project year:2022
Project version:1.0V
*/
/* Config File */

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../image/istockphoto-537331500-170667a.jpg");
}

html {
    font-size: 15px;
}

/* Nav */

nav {
    opacity: .9;
}

/* Header */

header .jumbotron {
    background-image: url("../image/photo-1542831371-29b0f74f9713.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 12rem;
    height: 30rem;
}

#header-title {
    text-transform: uppercase;
}

/* Breadcrumb */
nav ol.breadcrumb {
    margin-top: -1.66%;
    background-color: rgb(29, 29, 29);
}

#breadcrumb-emir {}

.col-md-8 img:hover{
    opacity: .9;
}