* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 15px;
}
/* Address */
address a{
    font-size: small;
    text-decoration: none;
}
/* Footer */
footer #design-by{
    transition: all .5s;
    
}
footer #design-by:hover{
    letter-spacing: 20px;
    animation: design-animate .4s both;
}
@keyframes design-animate {
    0%{
        color: #1adf34;
    }
    50%{
        color: #1adf34;
    }
    100%{
        color: #df1ab4;
    }
}

/* Icons */
.icon {
    transition: all .5s;
}

/* Instagram */
.icon-instagram {
    color: #fff;
}

.icon-instagram:hover {
    color: #d48d1a;
    transform: translateY(-5%);
}

/* Twitter */
.icon-twitter {
    color: #fff;
}

.icon-twitter:hover {
    color: #15bbde;
    transform: translateY(-5%);
}

/* GitHUb */
.icon-github {
    color: #fff;
}

.icon-github:hover {
    color: red;
    transform: translateY(-5%);
}

/* Linkedin */
.icon-linkedin {
    color: #fff;
}

.icon-linkedin:hover {
    color: #00bee6;
    transform: translateY(-5%);
}

/* Main */
main{
    margin-bottom:5%;
    margin-top: 5%;
}