* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Icons */
.icon {
    transition: all .5s;
}

/* Instagram */
.icon-instagram {
    color: #fff;
}

.icon-instagram:hover {
    color: #d48d1a;
}

/* Twitter */
.icon-twitter {
    color: #fff;
}

.icon-twitter:hover {
    color: red;
}

/* GitHUb */
.icon-github {
    color: #fff;
}

.icon-github:hover {
    color: red;
}

/* Linkedin */
.icon-linkedin {
    color: #fff;
}

.icon-linkedin:hover {
    color: red;
}