*{
    padding:0;
    margin:0;
    box-sizing: border-box !important;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* Icons */
.icon-instagram{
    color: #fff;
}
.icon-instagram:hover{
    color: red;
}